body {
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro-section {
  height: 946px;
  background: #fff url('../images/headerbg.svg') no-repeat;
  background-size: cover;
}

.intro-section .intro-content {
  width: 74%;
  padding-top: 300px;
}

.projects .project-languages .badge {
  background-color: #ebebff;
}

.projects .project {
  background-color: #fff;
}